div.cOuter#outerBeverage
	form(onsubmit="return false;" style="height:100%;")
		div.cAddBeverage
			table
				colgroup
					col(width="60")
					col
				tr
					td(colspan="2")
						input#name(type="text" name="name" autocomplete="off" placeholder="음료명 입력")
						input(type="button" value="추가" onclick="onAddBeverage(this);")
				tr
					td
						input#iceable(type="checkbox" name="iceable" checked)
					td
						label(for="iceable") 아이스
				tr
					td
						input#hotable(type="checkbox" name="hotable"  checked)
					td
						label(for="hotable") 따뜻
				tr
					td
						input#syrupable(type="checkbox" name="syrupable")
					td
						label(for="syrupable") 시럽
				tr
					td
						input#selfable(type="checkbox" name="self")
					td
						label(for="selfable") 셀프

		div.cDelBeverage
			div.cSelectDelete
				input#delBeverage(type="text" list="beverageList2" autocomplete="off"
					onkeydown="if( event.keyCode == 13 ){ return false; }" )
				datalist#beverageList2
					select#beverageSelect2
				input(type="button" value="삭제리스트" onclick="onAddDelete( this );")

			div.cDeleteList
		input.cBigBtn.cExecDelete(type="button" value="삭제실행" onclick="onDelBeverage(this);")
