div.cOuter#outerBeverage
	div.cAddBeverage
		form(action="/beverage/add" method="post" onsubmit="return add(this);")
			div
				input(type="text" id="name" name="name" placeholder="호로록")
				input(type="submit" value="추가")
			div.cOption
				input(type="checkbox" name="iceable" checked)
				span 아이스
				br

				input(type="checkbox" name="hotable"  checked)
				span 따뜻
				br

				input(type="checkbox" name="syrupable")
				span 시럽

	div.cDelBeverage
		div.cSelectDelete
			input#delBeverage(type="text" list="beverageList2" autocomplete="off"
				onkeydown="if( event.keyCode == 13 ){ return false; }" )
			datalist#beverageList2
				select#beverageSelect2(style="width:180px;margin-left:-186px;height:22px;")
			input(type="button" value="삭제리스트" onclick="addDelete( this );")

		form(action="/beverage/del" method="post" onsubmit="return del(this);")
			div.cDeleteList
			div.cExecDelete
				input(type="submit" value="삭제실행")
