doctype html
html
	head
		title Beverage Edit Page
		script.
			function init()
			{
			}

			}
			function add(self)
			{
				if( self.name.value == "" )
				{
					alert('음료명을 입력해주세요');
					return false;
				}
				return true;
			}
			function del(self)
			{
				var chkon = false;
				var delchks = document.querySelectorAll('input.delchk');
				for( var delchk of delchks )
				{
					if( delchk.checked )
					{
						return true;
					}
				}
				alert('삭제할 음료를 선택해주세요');
				return false;
			}
	body(onLoad="init();")

		input(type="text" id="beverage" list="beverageList">
		datalist(id="beverageList")
			option(value="valueAAA") ssas
			option(value="valueAAB") xzxcv
			option(value="fuck") whatthehell

		form(action="add" method="post" onsubmit="return add(this);")
			p
				input(type="text" id="name" name="name" placeholder="호로록")
				input(type="submit" value="추가")
			p
				input(type="checkbox" name="iceable" checked)
				span 아이스
				br

				input(type="checkbox" name="hotable"  checked)
				span 따뜻
				br

				input(type="checkbox" name="syrupable")
				span 시럽



			br
			br
			br
			br
			br


		form(action="del" method="post" onsubmit="return del(this);")
			p
				select
					option 커피
					option 차
					option 주스
					option 에이드

				input(type="submit" value="삭제")
			p
				input(type="checkbox" class="delchk" id="아메리카노" name="아메리카노")
				label(for="아메리카노") 아메리카노
				br

				input(type="checkbox" class="delchk" id="카페라떼" name="카페라떼")
				label(for="카페라떼") 카페라떼
				br

				input(type="checkbox" class="delchk" id="토마토주스" name="토마토주스")
				label(for="토마토주스") 토마토주스
				br
