div.cOuter#outerOrder
	form(action="/order" method="post" onsubmit="return order(this);")
		div.cInput
			p(style="margin-left:10px;") 누구
				select#orderBy(name="orderBy")

			p(style="margin-left:10px;") 무엇
				input.cBeverage#beverage(type="text" name="beverage"
					list="beverageList" autocomplete="off"
					onchange="onChangeBeverage(value);"
					onkeydown="if(event.keyCode==13){return false;}" )
				datalist(id="beverageList")
					select(id="beverageSelect" onchange="onChangeBeverage(value);"
						style="width:180px;margin-left:-186px;height:22px;")

				input(type="button" value="리셋" onclick="selectBeverage('');")

		div.cMain
			div.cDimmer
			div.cPopup
				p.ctxt 음료를 선택해주세요

			di.cOrderList#orderList
				div.cTotal
					span.cTotal
					span.cSwap(onclick="swapOrderList(this);") 유저별
				table.cOrderB
				table.cOrderO

			div.cIce
				input#ice(type="radio" name="icehot" value="ice")
				label(for="ice") 아이스
			div.cHot
				input#hot(type="radio" name="icehot" value="hot")
				label(for="hot") 따뜻
			div.cSyrup
				input#syrup(type="checkbox" name="syrup" value="minus")
				label(for="syrup") 시럽빼고

		div.cNyam
			input.cNyam(type="submit" value="냠냠")
