div.cOuter#outerUser

	div.cUserMenu
		span#menuLogin(onclick="changeUserPage('Login')") 로그인
		span#menuRegister(onclick="changeUserPage('NewUser')") 회원가입
		span#menuMyInfo(onclick="changeUserPage('MyInfo')") 정보수정
		span#menuAdmin(onclick="changeUserPage('Admin')") 관리자
		span#menuLogout(onclick="") 로그아웃

	form(action="/auth/login" method="post")
		div.cLogin
			table
				colgroup
					col(width="90")
					col
				tr
					td ID
					td
						input(type="text" name="id" autocomplete="off")
				tr
					td 비밀번호
					td
						input(type="password" name="password")
				tr
					td(colspan="2" align="center")
						input(type="submit" value="로그인" style="width:200px;")

	form(action="/user" method="post")
		input(type="hidden" name="mode")
		input(type="hidden" name="uid")
		input(type="hidden" name="name")
		input(type="hidden" name="password")

		div.cNewUser
			table
				colgroup
					col(width="90")
					col
				tr
					td FACEBOOK 
					td 연동버튼
				tr
					td TWITTER 
					td 연동버튼
				tr
					td GOOGLE
					td 연동버튼
				tr
					td 이름
					td
						input#name_add(type="text" autocomplete="off" style="width:150px;")
				tr
					td ID
					td
						input.userRed#id(type="text" name="id" autocomplete="off" onchange="checkAddForm(this);")
				tr
					td 비밀번호
					td
						input.userRed#password1_add(type="password" onchange="checkAddForm(this);")
				tr
					td 비번확인
					td
						input.userWhite#password2_add(type="password" onchange="checkAddForm(this);")
				tr
					td(colspan="2" align="center")
						input(type="button" value="회원가입" onclick="addUser(this);" style="width:200px;")

		div.cMyInfo
			table
				colgroup
					col(width="90")
					col
				tr
					th(colspan="2" align="center") My Info
				tr
					td(style="width:90px;") UserID
					td(style="width:150px;") #{loginID}
				tr
					td 이름
					td
						input#name_edit(type="text" autocomplete="off" value=loginName onchange="checkEditForm(this)" style="width:150px;")
				tr
					td 비밀번호
					td
						input.userWhite#password1_edit(type="password" onchange="checkEditForm(this);")
				tr
					td 비번확인
					td
						input.userWhite#password2_edit(type="password" onchange="checkEditForm(this);")
				tr
					td(colspan="2" align="center")
						input(type="button" value="수정" onclick="editUser(this);" style="width:200px;")
				tr
					td FACEBOOK 
					td 연동버튼
				tr
					td TWITTER 
					td 연동버튼
				tr
					td GOOGLE
					td 연동버튼
				tr
					td(colspan="2" align="center")
						input(type="button" value="탈퇴" onclick="delUser(this);" style="width:200px;")

		div.cAdmin
			table
				colgroup
					col(width="90")
					col
				tr
					th(colspan="2" align="center") ADMIN
				tr
					td UserID
					td
						select#idSelect(onchange="onSelectUser(this);" onselect="alert('select');")
							option yaho
				tr
					td uid
					td#uid_admin
				tr
					td ID
					td#id_admin
				tr
					td 이름
					td
						input.userWhite#name_admin(type="text" onchange="checkEditForm(this,true);")
				tr
					td 비밀번호
					td
						input.userWhite#password1_admin(type="password" onchange="checkEditForm(this,true);")
				tr
					td 비번확인
					td
						input.userWhite#password2_admin(type="password" onchange="checkEditForm(this,true);")
				tr
					td(colspan="2" align="center")
						input(type="button" value="수정" onclick="editUser(this,true);" style="width:200px;")
				tr
					td FACEBOOK 
					td 연동끊기
				tr
					td TWITTER 
					td 연동끊기
				tr
					td GOOGLE
					td 연동끊기
				tr
					td(colspan="2" align="center")
						form(action="/user/del")
							input(type="button" value="삭제" onclick="delUser(this,true);" style="width:200px;")
