div.cOuter#outerUser
	form(action="/user" method="post")
		input(type="hidden" name="mode")
		input(type="hidden" name="uid")
		input(type="hidden" name="name")
		input(type="hidden" name="password")

		div.cUserMenu
			span(onclick="changeUserPage('NewUser')") 회원가입
			span(onclick="changeUserPage('MyInfo')") 정보수정
			span(onclick="changeUserPage('Admin')") 관리자

		div.cNewUser
			table
				colgroup
					col(width="90")
					col
				tr
					td FACEBOOK 
					td 연동버튼
				tr
					td TWITTER 
					td 연동버튼
				tr
					td GOOGLE
					td 연동버튼
				tr
					td 이름
					td
						input#name_add(type="text" autocomplete="off" style="width:150px;")
				tr
					td ID
					td
						input.userRed#id(type="text" name="id" autocomplete="off" onchange="checkAddForm(this);")
				tr
					td 비밀번호
					td
						input.userRed#password1_add(type="password" onchange="checkAddForm(this);")
				tr
					td 비번확인
					td
						input.userWhite#password2_add(type="password" onchange="checkAddForm(this);")
				tr
					td(colspan="2" align="center")
						input(type="button" value="회원가입" onclick="addUser(this);" style="width:200px;")

		div.cMyInfo
			table
				colgroup
					col(width="90")
					col
				tr
					th(colspan="2" align="center") My Info
				tr
					td(style="width:90px;") UserID
					td(style="width:150px;") 123415
				tr
					td 이름
					td
						input#name_edit(type="text" onchange="checkEditForm(this)"
							autocomplete="alert('asdf')" style="width:150px;")
				tr
					td 비밀번호
					td
						input.userWhite#password1_edit(type="password" onchange="checkEditForm(this);")
				tr
					td 비번확인
					td
						input.userWhite#password2_edit(type="password" onchange="checkEditForm(this);")
				tr
					td(colspan="2" align="center")
						input(type="button" value="수정" onclick="editUser(this);" style="width:200px;")
				tr
					td FACEBOOK 
					td 연동버튼
				tr
					td TWITTER 
					td 연동버튼
				tr
					td GOOGLE
					td 연동버튼
				tr
					td(colspan="2" align="center")
						input(type="button" value="탈퇴" onclick="delUser(this);" style="width:200px;")

		div.cAdmin
			table
				colgroup
					col(width="90")
					col
				tr
					th(colspan="2" align="center") ADMIN
				tr
					td UserID
					td
						select#idSelect(onchange="onChangeUserID(this);")
							option yaho
				tr
					td 이름
					td
						input#name_admin(type="text" style="width:150px;")
				tr
					td(colspan="2" align="center")
						input(type="button" value="수정" onclick="editUser(this,true);" style="width:200px;")
				tr
					td FACEBOOK 
					td 연동끊기
				tr
					td TWITTER 
					td 연동끊기
				tr
					td GOOGLE
					td 연동끊기
				tr
					td(colspan="2" align="center")
						form(action="/user/del")
							input(type="button" value="삭제" onclick="delUser(this,true);" style="width:200px;")
