* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	margin: 0;
	background-image: linear-gradient(to bottom right, gray, white);
	background-attachment: fixed;
}

table {
	table-layout: fixed;
	width:90%;
	margin: auto;
	border-spacing: 0px;
}

td {
	border-top: 1px solid #999;
	padding: 5px;
	font-size: 15px;
}

div {
	margin: 0 auto;
}
	div.cStandAlone {
		padding: 10px;
		position: relative;
		background-image: linear-gradient(to bottom right, pink, #123);
		width: 100vw;
		min-width: 320px;
		max-width: 420px;
		height: calc(100vh - 100px);
	}

@media screen and (max-height:700px) {
	div.cStandAlone {
		height: 100vh;
		min-height: 520px;
	}
}

	div.cApp {
		padding: 10px;
		position: relative;
		background-image: linear-gradient(to bottom right, lightblue, #123);
		width: 100vw;
		min-width: 320px;
		max-width: 420px;
		height: calc(100vh - 100px);
	}
@media screen and (max-height:700px) {
	div.cApp {
		height: 100vh;
		min-height: 520px;
	}
}
		div.cUpper:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-image: url('/images/sunshine.jpeg');
			background-size: 1500px;
			background-repeat: no-repeat;
			animation: hideAnim 3s forwards;
			animation-timing-function: linear;
		}
			@keyframes hideAnim {
				0% {
					background-position: 0px -200px;
					opacity: 1;
					visibility: visible;
				}
				30% {
					background-position: -600px -50px;
					opacity: 1;
				}
				100% {
					background-position: -700px 0px;
					opacity: 0;
					visibility: hidden;
				}
			}
			@-webkit-keyframes hideAnim {
				0% {
					background-position: 0px -200px;
					opacity: 1;
					visibility: visible;
				}

				30% {
					background-position: -600px -50px;
					opacity: 1;
				}

				100% {
					background-position: -700px 0px;
					opacity: 0;
					visibility: hidden;
				}
			}


	div.cUpper {
		margin-bottom: 10px;
		width: 100%;
	}
		div.cUpper > div.cMenu {
			display: inline-block;
			margin: 0 0 -4px 0;
			height: 40px;
			overflow: hidden;
		}
			div.cMenu > .ei-custom {
				margin: 0;
				width: 40px;
				height: 40px;
				/* fill: red; */
			}

	div.cOuter {
		position: relative;
		width: 100%;
	}
	div.cStandAlone > div.cOuter {
		height: 100%;
	}
	div.cApp > div.cOuter {
		height: calc(100% - 50px);
	}

	div.cMessage {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100vw;
		min-width: 320px;
		max-width: 420px;
		height: 100px;
		line-height: 100px;
		text-align: center;
		overflow: hidden;
		background-color: rgba(100,100,255,0.9);
	}
@media screen and (max-height:700px) {
	div.cMessage {
		display: none;
		background-color: rgba(255,100,100,0.9);
	}
}
	div.cMessage > div#message {
		padding: 10px;
	    line-height: 1.5;
		display: inline-block;
		vertical-align: middle;
		word-break: break-word;
	}

	/*input[type="button"], input[type="submit"] {
	font-size: 13pt;
}*/
