* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	background-image: linear-gradient(to bottom right, black, gray);
	background-attachment: fixed;
}

table {
	table-layout: fixed;
	width:90%;
	margin: auto;
	border-spacing: 0px;
}

td {
	border-bottom: 1px solid #999;
	padding: 5px;
	font-size: 15px;
}

div {
	margin: 10px;
	padding: 0px;
	//border: 1px solid;
}
	div.cApp {
		position: relative;
		width: 320px;
		margin: auto;
		background-image: linear-gradient(to bottom right, lightblue, #123);
	}
		div.cUpper:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-image: url('/images/sunshine.jpeg');
			background-size: 1500px;
			background-repeat: no-repeat;
			animation: hideAnim 5s forwards;
			animation-timing-function: linear;
		}
			@keyframes hideAnim {
				0% {
					background-position: 0px -200px;
					opacity: 1;
					visibility: visible;
				}
				30% {
					background-position: -600px -50px;
					opacity: 1;
				}
				100% {
					background-position: -700px 0px;
					opacity: 0;
					visibility: hidden;
				}
			}
			@-webkit-keyframes hideAnim {
				0% {
					background-position: 0px -200px;
					opacity: 1;
					visibility: visible;
				}

				30% {
					background-position: -600px -50px;
					opacity: 1;
				}

				100% {
					background-position: -700px 0px;
					opacity: 0;
					visibility: hidden;
				}
			}


	div.cUpper {
		margin: 0;
		width: 320px;
	}
		div.cUpper > div.cMenu {
			display: inline-block;
			border: none;
			margin: 0 0 -4px 0;
			height: 50px;
			overflow: hidden;
		}
			div.cMenu > .ei-custom {
				margin: 0px;
				border: none;
			}

	div.cOuter {
		margin: 0;
		width: 320px;
		height: 500px;
	}

input[type="button"], input[type="submit"] {
	font-size: 13pt;
}