

div.cInput {
	padding: 10px;
	height: 120px;
	margin-bottom: 10px;
	background-color: var(--bg2);
}
	table.cInputT {
		width: 100%;
		margin: auto;
	}
		table.cInputT td {
		}
		table.cInputT tr.cShuttle > td {
			padding: 3px 0;
			text-align: right;
			border-top: 0;
		}
			input.cShuttle {
				padding: 1px;
			}

div.cMain {
	padding: 10px;
	position: relative;
	height: calc(100% - 180px);
	background-color: var(--bg2);
}
	div.cMain > div.cOrderList {
		margin: 0px;
		border-color: #F0F;
		height: 100%;
		overflow: auto;
	}

	div.cTotal {
		position: relative;
		margin: 10px 0;
	}
		div.cTotal > span {
			display: inline-block;
			text-align: center;
		}
			div.cTotal > span.cTotal {
				width: 75%;
			}
			div.cTotal > span.cSwap {
				width: 25%;
			}

	table.cOrderB, table.cOrderO {
		width: 100%;
		margin: auto;
	}
		tr.cOrderItem {
		}
					tr.cOrderItem > td {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						font-size: 15px;
					}
						tr.cOrderItem > td.cBeverage {
							width: 40%;
						}
						tr.cOrderItem > td.cOption {
							width: 50%;
						}
						tr.cOrderItem > td.cPic {
							width: 40px;
						}
							div.cPic {
								width: 30px;
								height: 30px;
								background-color: #777;
								background-size: 30px;
							}
						tr.cOrderItem > td.cOrderBy {
							width: 60px;
						}
						tr.cOrderItem > td.cBeverageOption {
						}

		div.cIce, div.cHot, div.cSyrup, div.cSelf {
			display: none;
		}

	div.cDimmer {
		visibility: hidden;
		margin: 0px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.8;
		z-index: 10;
	}

div.cPopupOuter {
	visibility: hidden;
	margin: 0;
	padding: 10px;
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	z-index: 20;
	text-align: center;
	
	background-color: var(--bg2);
	border: 3px outset var(--border);
	/*
	background-image: linear-gradient(to bottom right, lightblue, #123);
	border: 3px outset lightcyan;
	*/
}
		div.cPopupOuter > div.cPopup {
			width: 100%;
			height: calc(100% - 40px);
			//overflow: auto;
		}
			input.cNadoNado {
				position: absolute;
				bottom: 10px;
				left: 10px;
				right: 0;
				width: 120px;
				height: 30px;
			}
			p.ctxt {
				margin: 5px auto;
			}
			p.stxt {
				// line-height: 15px;
			}

			div.cProfile {
				border: 1px solid pink;
				height: calc(100% - 60px);
				overflow: auto;
				text-align: justify;
			}
				div.cOrderer {
					display: inline-block;
					margin: 5px calc((100% - 240px) / 8);
					width: 60px;
					text-align: center;
				}
			@media screen and (max-width:359px) {
				div.cOrderer {
					margin: 5px calc((100% - 180px) / 6);
				}
			}
					div.cPicture {
						width: 50px;
						height: 50px;
						background-color: #777;
						background-size: 50px;
					}
					p.cName {
						margin: 5px auto;
					}

	div.cPopupOuter > input.cClose {
		position: absolute;
		bottom: 10px;
		right: 10px;
		width: 80px;
		height: 30px;
	}

	input::-webkit-calendar-picker-indicator {
		background-color: inherit;
		/*
		color:red;
        display: none;
		*/
	}
	input.cBeverage {
		width: 170px;
	}
	select.cBeverage {
		width: 170px;
		margin-left: -186px;
		height: 22px;
	}

	input.cNyam {
		margin: 0 auto;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 200px;
	}
