
input.userWhite {
	width: 150px;
}

input.userRed {
	width: 150px;
	background-color: red;
}

input.userGreen {
	width: 150px;
	background-color: lightgreen;
}

input.userYellow {
	width: 150px;
	background-color: yellow;
}

input.providerView {
	width:100px;
}

input.providerDel {
	width:50px;
}

div.cUserMenu {
	margin-bottom: 10px;
	height: 40px;
	background-color: var(--bg2);
}
	div.cUserMenu > span {
		border: 1px solid var(--border);
		margin: 1%;
		display: inline-block;
		padding: 3px 10px;
		width: 31%;
	}

div.cLogin, div.cNewUser, div.cMyInfo, div.cAdmin {
	height: 100%;
	overflow: auto;
	background-color: var(--bg2);
}

.cTheme > label {
	padding: 5px 10px;
	display: inline-block;
	width: calc(100% - 30px);
	height: 40px;
	background-color: var(--ex-bg1);
}
	.cTheme > label > div {
		position: relative;
		padding: 2px 5px;
		width: 100%;
		height: 100%;
		color: var(--ex-text);
		border: 1px solid var(--ex-border);
		background-color: var(--ex-bg2);
	}
	.cTheme > label input {
		position: absolute;
		top: 2px;
		right: 2px;
		width: 40%;
		color: var(--ex-text-button);
		text-shadow: 0 0 2px var(--ex-text);
		border-radius: 5px;
		border-color: var(--ex-border);
		background-image: linear-gradient(to bottom, var(--ex-border-light), var(--ex-border));
	}
.cThemeBlue {
	--ex-bg1: var(--blue-bg1);
	--ex-bg2: var(--blue-bg2);
	--ex-border: var(--blue-border);
	--ex-border-light: var(--blue-border-light);
	--ex-text: var(--blue-text);
	--ex-text-button: var(--blue-text-button);
}
.cThemeHelloKitty {
	--ex-bg1: var(--hellokitty-bg1);
	--ex-bg2: var(--hellokitty-bg2);
	--ex-border: var(--hellokitty-border);
	--ex-border-light: var(--hellokitty-border-light);
	--ex-text: var(--hellokitty-text);
	--ex-text-button: var(--hellokitty-text-button);
}
.cThemeNcsoft {
	--ex-bg1: var(--ncsoft-bg1);
	--ex-bg2: var(--ncsoft-bg2);
	--ex-border: var(--ncsoft-border);
	--ex-border-light: var(--ncsoft-border-light);
	--ex-text: var(--ncsoft-text);
	--ex-text-button: var(--ncsoft-text-button);
}
.cThemeDark {
	--ex-bg1: var(--dark-bg1);
	--ex-bg2: var(--dark-bg2);
	--ex-border: var(--dark-border);
	--ex-border-light: var(--dark-border-light);
	--ex-text: var(--dark-text);
	--ex-text-button: var(--dark-text-button);
}
.cThemeRandom {
	padding: 10px 10px;
	display: inline-block;
	width: calc(100% - 30px);
	height: 40px;
	color: #000;
	border: 1px solid #FFF;
	background-image: linear-gradient(to right,
		var(--blue-bg2), var(--blue-bg2) 25%,
		var(--hellokitty-bg2) 25%, var(--hellokitty-bg2) 50%,
		var(--ncsoft-bg2) 50%, var(--ncsoft-bg2) 75%,
		var(--dark-bg2) 75%, var(--dark-bg2));
}

div.cLoginButton {
	width: 200px;
	height: 40px;
	line-height: 40px;
	margin: 0;
	border: 0;
	border-radius: 5px;
	text-align: center;
}

div.cFacebook {
	color: #FFF;
	background-color: #4267B2;
}

div.cGoogle {
	color: #FFF;
	background-color: #db4437;
}

div.cKakao {
	background-color: #FFEB00;
}

div.cTwitter {
	color: #FFF;
	background-color: #1da1f2;
}

div.cKakaoImage {
	margin: 0;
	width: 222px;
	height: 49px;
	background-image: url('/images/kakao_login.png');
}
	div.cKakaoImage:hover {
		cursor: pointer;
		background-image: url('/images/kakao_login_ov.png');
	}

div.cGoogleImage {
	margin: 0;
	width: 191px;
	height: 46px;
	background-image: url('/images/google_dark_normal.png');
}
	div.cGoogleImage:hover {
		cursor: pointer;
		background-image: url('/images/google_dark_focus.png');
	}
	div.cGoogleImage:active {
		cursor: pointer;
		background-image: url('/images/google_dark_pressed.png');
	}

.cNoChange::after {
	position: relative;
	top: -2px;
	left: 20px;	
	color: var(--text);
}
.cChanged::after {
	position: relative;
	top: -2px;
	left: 20px;
	color: #000;
	background-color: lightgreen;
}
#del_admin.cTrue::after {
	content: 'Deleted';
}
#del_admin.cFalse::after {
	content: 'NoDelete';
}
#enable_admin.cTrue::after {
	content: 'Enabled';
}
#enable_admin.cFalse::after {
	content: 'Disabled';
}
#shuttle_admin.cTrue::after {
	white-space: pre;
	content: '셔틀';
	top: -5px;
}
#shuttle_admin.cFalse::after {
	white-space: pre;
	content: '귀족';
	top: -5px;
}
