
input.adminWhite {
	width: 150px;
}

input.adminRed {
	width: 150px;
	background-color: red;
}

input.adminGreen {
	width: 150px;
	background-color: lightgreen;
}

input.adminYellow {
	width: 150px;
	background-color: yellow;
}
