

	div.cInput {
		border:1px solid;
		height:100px;
	}
	div.cMain {
		border:1px solid;
		position: relative;
		height: calc(100% - 160px);
		margin-top: 10px;
	}
		div.cMain > div.cOrderList {
			margin: 0px;
			border-color: #F0F;
			height: 100%;
			overflow: auto;
		}

			div.cTotal {
				position: relative;
				margin: 10px 0;
			}
				div.cTotal > span {
					display: inline-block;
					text-align: center;
				}
				div.cTotal > span.cTotal {
					width: 70%;
				}
				div.cTotal > span.cSwap {
					width: 30%;
				}

			table.cOrderB, table.cOrderO, table.cInputT {
				width: 100%;
				margin: auto;
			}
				tr.cOrderItem {
				}
					tr.cOrderItem > td {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						font-size: 15px;
					}
						tr.cOrderItem > td.cBeverage {
							width: 90px;
						}
						tr.cOrderItem > td.cOption {
							width: 180px;
						}
						tr.cOrderItem > td.cOrderBy {
							width: 80px;
						}
						tr.cOrderItem > td.cBeverageOption {
						}

		div.cMain > div.cIce,
		div.cMain > div.cHot,
		div.cMain > div.cSyrup {
			//border:1px dotted;
			display: none;
		}

	div.cDimmer {
		visibility: hidden;
		margin: 0px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.8;
		z-index: 10;
	}

div.cPopupOuter {
	visibility: hidden;
	margin: 0;
	padding: 10px;
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	z-index: 20;
	text-align: center;
	background-image: linear-gradient(to bottom right, lightblue, #123);
	border: 3px outset lightcyan;
}
		div.cPopupOuter > div.cPopup {
			border: 1px solid red;
			width: 100%;
			height: calc(100% - 30px);
		}
			input.cNadoNado {
				position: absolute;
				bottom: 10px;
				left: 10px;
				right: 0;
				background-color: lightgreen;
				border-color: green;
				width: 120px;
			}
			p.ctxt {

			}
			p.stxt {
				line-height: 15px;
			}
			span.stxt {
				display: inline-block;
				margin: 5px 20px;
			}
		div.cPopupOuter > input.cClose {
			position: absolute;
			bottom: 10px;
			right: 10px;
			width: 80px;
			background-color: lightblue;
			border-color: blue;
		}

	div.cNyam {
		height: 50px;
		padding: 10px;
		text-align: center;
	}

input {
    //background-color: #09f;
}
    input::-webkit-calendar-picker-indicator {
        background-color: inherit;
        //color:red;
        //display: none;
    }
	input.cBeverage {
		//background-color: #FFF;
		width: 180px;
	}
	input.cNyam {
		background-color: lightgreen;
		border-color: green;
		width: 200px;
	}
