
input.userWhite {
	width: 150px;
}

input.userRed {
	width: 150px;
	background-color: red;
}

input.userGreen {
	width: 150px;
	background-color: lightgreen;
}

input.userYellow {
	width: 150px;
	background-color: yellow;
}

input.providerView {
	width:100px;
}

input.providerDel {
	width:50px;
}

div.cUserMenu {
	margin-bottom: 10px;
}
	div.cUserMenu > span {
		display: inline-block;
		width: 33%
	}

div.cLogin, div.cNewUser, div.cMyInfo, div.cAdmin {
	height: 100%;
	overflow: auto;
}

div.cLoginButton {
	width: 200px;
	height: 40px;
	line-height: 40px;
	margin: 0;
	border: 0;
	border-radius: 5px;
	text-align: center;
}

div.cFacebook {
	color: #FFF;
	background-color: #4267B2;
}

div.cGoogle {
	color: #FFF;
	background-color: #db4437;
}

div.cKakao {
	background-color: #FFEB00;
}

div.cTwitter {
	color: #FFF;
	background-color: #1da1f2;
}

div.cKakaoImage {
	margin: 0;
	width: 222px;
	height: 49px;
	background-image: url('/images/kakao_login.png');
}
	div.cKakaoImage:hover {
		cursor: pointer;
		background-image: url('/images/kakao_login_ov.png');
	}

div.cGoogleImage {
	margin: 0;
	width: 191px;
	height: 46px;
	background-image: url('/images/google_dark_normal.png');
}
	div.cGoogleImage:hover {
		cursor: pointer;
		background-image: url('/images/google_dark_focus.png');
	}
	div.cGoogleImage:active {
		cursor: pointer;
		background-image: url('/images/google_dark_pressed.png');
	}

.cNoChange::after {
	position: relative; 
	top: -2px;
	left: 20px;	
}
.cChanged::after {
	position: relative;
	top: -2px;
	left: 20px;
	background-color: lightgreen;
}
#del_admin.cTrue::after {
	content: 'Deleted';
}
#del_admin.cFalse::after {
	content: 'NoDelete';
}
#enable_admin.cTrue::after {
	content: 'Enabled';
}
#enable_admin.cFalse::after {
	content: 'Disabled';
}
#shuttle_admin.cTrue::after {
	white-space: pre;
	content: '셔틀';
	top: -5px;
}
#shuttle_admin.cFalse::after {
	white-space: pre;
	content: '귀족';
	top: -5px;
}
