
input.adminWhite {
	width: 100%;
}

input.adminRed {
	width: 100%;
	background-color: red;
}

input.adminGreen {
	width: 100%;
	background-color: lightgreen;
}

input.adminYellow {
	width: 100%;
	background-color: yellow;
}

div.cAdminMenu > span {
	display: inline-block;
	width: 33%
}

td.cProviderID {
	font-size: 15px;
}

td.cUID {
	width: 50px;
}

td.cLabel {
	width: 30px;
}

.cError1 {
	background-color: red;
}
.cError2 {
	background-color: orange;
}
.cError3 {
	background-color: yellow;
}
.cError4 {
	background-color: pink;
}
.cError5 {
	background-color: green;
}
.cError6 {
	background-color: aqua;
}
.cError7 {
	background-color: deepskyblue;
}
.cError8 {
	background-color: magenta;
}
.cError9 {
	background-color: purple;
}

input.cUID {
	width: 40px;
}

input.cUIDChanged {
	background-color: red;
}
	