

	div.cInput {
		border-color:#33F;
		height:100px;
	}
	div.cMain {
		border-color: #3F3;
		position: relative;
		height: 300px;
	}
		div.cMain > div.cOrderList {
			margin:0px;
			border-color:#F0F;
			height:270px;
			overflow-y:auto;
		}
		div.cOrderList td.cBeverage {
			width: 80px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		div.cOrderList td.cOption {
			width: 150px;
		}

		div.cMain > div.cIce,
		div.cMain > div.cHot,
		div.cMain > div.cSyrup {
			border:1px dotted;
			display: none;
		}

	div.cDimmer {
		visibility: hidden;
		margin: 0px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.8;
		z-index: 10;
	}

	div.cPopup {
		visibility: hidden;
		margin: 0px;
		position: absolute;
		top: 5%;
		left: 5%;
		width: 90%;
		height: 90%;
		z-index: 20;
		background-color: #D66;
		border: 3px outset #F99;
		text-align: center;
	}
		div.cSelect p {
			line-height: 30px;
		}

	div.cNyam {
		height: 50px;
		padding: 5px;
	}

input {
    //background-color: #09f;
}
    input::-webkit-calendar-picker-indicator {
        background-color: inherit;
        //color:red;
        //display: none;
    }
	input.cBeverage {
		//background-color: #FFF;
		width: 180px;
	}
	input.cNyam {
		font-size: 13pt;
		background-color: lightgreen;
		border-color: green;
		width: 200px;
	}
	input.cNadoNado {
		position: absolute;
		bottom: 10px;
		left:0;
		right:0;
		margin: auto;
		font-size: 13pt;
		background-color: lightgreen;
		border-color: green;
		width: 200px;
	}
