
div.cAddBeverage {
	margin-bottom: 10px;
	height: 180px;
	overflow: auto;
	background-color: var(--bg2);
}


div.cDelBeverage {
	position: relative;
	height: calc(100% - 190px);
	background-color: var(--bg2);
}
	div.cDeleteList {
		height: calc(100% - 50px);
		overflow: auto;
	}

	input.cExecDelete {
		margin: 0 auto;
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
		width: 300px;
	}

